@import "mixin";
@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'DM Sans', sans-serif;
    // font-family: 'Inter', sans-serif;
    // font-family: 'Zilla Slab', serif;
}


section.singleVideo{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    video{
        width: 60%;
        display: block;
        margin: auto;
        @include mq(700px){
            width: 85%;  
        }
    }
}



section.ibm{
    max-width: 1140px;
    width: 80%;
    margin: auto;

    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .cover{
        width: 100%;
        margin-bottom: 20px;
        .flex{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mq(768px){
                flex-direction: column;
            }
            .paragraph{
                width: 45%;
                @include mq(768px){
                   width: 100%;
                   margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 160%;
                    font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 12px; 
                     }


                }
            }
        }
    }
    img{
        width: 100%;
        margin-bottom: 30px;
    }
}

section.ecx{
    max-width: 1140px;
    width: 80%;
    margin: auto;
 
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .cover{
        width: 100%;
        margin-bottom: 20px;
        .flex{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mq(768px){
                flex-direction: column;
            }
            .paragraph{
                width: 45%;
                @include mq(768px){
                   width: 100%;
                   margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 160%;
                    font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 12px; 
                     }


                }
            }
        }
    }
    img{
        width: 100%;
        margin-bottom: 30px;
    }
}

section.portfolio{
    
    max-width: 1140px;
    width: 80%;
    margin: auto;
   
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .flexDiv{
        width: 100%;
        .flex{
            margin-bottom: 40px;
            @include mq(768px){
                margin-bottom: 0px;
            }
        }
        img{
            transition: 0.3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    
        
            
        
        .flex.one{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                img{
                    width: 100%;
                }
                width: 32%;
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
        .flex.two{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .first{
                width: 32%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .second{
                width: 64%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
        .flex.three{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .first{
                img{
                    width: 100%;
                }
                width: 32%;
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .second{
                width: 64%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
    }
   
}

section.videos{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(500px){
        width: 90%;  
    }
    video{
        width: 48%;
        @include mq(700px){
            width: 100%;
            margin-bottom: 30px;  
        }
    }
}


section.tributes{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;
        margin-top: 0;  
    }   
    .cover{
        width: 60%;
        margin: auto;
        @include mq(760px){
            height: auto;
            width: 100%;
        }
        
        .addTribute{
            width: 100%;
            display: flex;
            justify-content: space-between;
            p.title{
                font-weight: 600;
                font-size: 40px;
                font-family: $zilla;
                font-style: italic;
                color: black;
                margin-bottom: 30px;
                @include mq(500px){
                   font-size: 25px; 
                }
            }
            .add{
                display: flex;
                align-items: center;
            }
            a{
                color: black;
                font-size: 14px;
                font-family: $dmsans;
                transform: translateY(-6px);
                @include mq(500px){
                    font-size: 12px; 
                 }
            }
        }
        .flexDiv{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: column;
            .eachTribute{
                width: 100%;
                margin: auto;
                height: auto;
                border: 1px solid #EEEEEE;
                border-radius: 10px;
                margin-bottom: 30px;
              
                .message{
                    width: 100%;
                    padding: 15px 10px;               
                    height: auto;
             
                    
                    p{
                        line-height: 25.6px;
                        font-family: $dmsans;
                        font-size: 14px;
                        @include mq(500px){
                            font-size: 12px;
                        }
                    }
                }
                .line{
                    width: 94%;
                    margin: auto;
                    height: 2px;
                    background: #EEEEEE;

                }
                .name{
                   padding: 10px 10px;
                   height: auto;
                   display: flex;
                   align-items: center;
                   img{
                       height: 50px;
                       width: 50px;
                       border-radius: 50%;
                       margin-right: 15px;
                       @include mq(500px){
                        width: 30px;
                        height: 30px;
                    }
                   }
                   .namedate{
                       .date{
                           margin-top: 5px;
                       }
                       .namer{
                           font-weight: 600;
                           font-size: 13px;
                       }
                   }

               
                
                   p{
                    font-family: $dmsans;
                    font-size: 12px;
                    @include mq(500px){
                        font-size: 10px;
                    }
                   }
                }
            }
        }
    }
    
}