@import "mixin";
@import "variables";
html{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: $dmsans;
    box-sizing: border-box;
    // font-family: 'DM Sans', sans-serif;
    // font-family: 'Inter', sans-serif;
    // font-family: 'Zilla Slab', serif;
}

header{
    max-width: 1140px;
    width: 80%;
    margin-left: 18%;
    height: 90vh;
    margin-bottom: 100px;

    @include mq(1045px){
       display: none;
    }
    .headerFlex{
        width: 100%;
        display: flex;
        height: 100%;
        position: relative;
        justify-content: space-between;
        .picture{
            width: 70%;
            background-image: url('../images/rex.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;

        }
        .nameDiv{
            padding-top: 200px;
            
            
            p{
                font-weight: 600;
                font-size: 40px;
                font-family: $zilla;
                font-style: italic;
                color: black;
                z-index: 2;
                margin-bottom: 20px;
                margin-right: 10px;
                @include mq(500px){
                font-size: 25px; 
                } 
            }
            p.sec{
                position: absolute;
            }
            button{
                background: transparent;
                background: #FFEFCB;
                border: none;
                color: black;
                padding: 3px;
                margin-top: 70px;
            }
        }
        .second{
            height: 100%;
            display: flex;
            align-items: flex-end;
        }      
        .card{
            width: 300px;
            z-index: 1;
            height: 200px;
            transform: translate(-250px,30px);
            background: #FFEFCB;
            padding: 20px;
            i.fa-quote-left{
                margin-bottom: 20px;
            }
            i.fa-quote-right{
                margin-top: 16px;
                float:right;
            }
        }


    }
}
.mobileHeader{
    display: none;
    @include mq(1045px){
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
        height: 90vh;
        .headerFlex{
            height: 100%;
            background-image: url('../images/rex.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            .nameDiv{
                padding-top: 40px;
                margin-left: 10px;
                @include mq(650px){
                    padding-top: 0px;
                    margin-left: 0px;
                    position: absolute;
                    top: 50px;
                    left: 30px;
                    } 
                p{
                    font-weight: 600;
                    font-size: 40px;
                    color: white;
                    font-family: $zilla;
                    font-style: italic;
                    z-index: 2;
                    margin-bottom: 10px;
                    @include mq(500px){
                    font-size: 25px; 
                    } 
                }
                button{
                    background: transparent;
                    background: #FFEFCB;
                    border: none;
                    color: black;
                    padding: 3px;
                    margin-top: 20px;
                }
            }
            .second{
                height: 100%;
                display: flex;
                align-items: flex-end;
            }      
            .card{
                width: 300px;
                z-index: 1;
                height: 200px;
                transform: translate(30px,30px);
                background: #FFEFCB;
                padding: 20px;
                i.fa-quote-left{
                    margin-bottom: 20px;
                }
                i.fa-quote-right{
                    margin-top: 16px;
                    float:right;
                }
                @include mq(650px){
                    width: 100%;
                    transform: translate(10px,30px);
                }
            }
        }
       

    }
}

section.gallery {
    max-width: 1140px;
    width: 80%;
    margin: 100px auto;

    @include mq(500px){
        width: 90%;  
    }

    p.title {
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }

    .swiper-container {
      width: 100%;
      height: 100%;
        &.swiper-slide {
            @include mq(1140px){ 
                width: 368px !important;
            }
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    .desk{
        @include mq(700px){
            display: none;
        }
    }
    .mobileGallery{
        display: none;
       overflow-x: hidden;
        @include mq(700px){
            display: block;
            width: 100%;
        }
        .swiper-container3{
            width: 100%;
            .swiper-slide{
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
}

section.biography {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto;
    flex-wrap: wrap;

    @include mq(500px){
        width: 90%;  
    }

    .picture {
        width: 48%;
        @include mq(700px){
            width: 100%;
            margin-bottom: 30px;  
        }
        img {
            width: 100%;
        }
    }

    .description {
        width: 45%;
        margin: auto;

        @include mq(700px){
            width: 100%;
            margin-bottom: 30px;  
        }

        .container{
            margin-top: 32px;
            width: 75%;
            margin: auto;
            @include mq(700px){
                width: 100%;
            }
             p.title {
                font-weight: 600;
                font-size: 40px;
                font-family: $zilla;
                font-style: italic;
                color: black;
                margin-bottom: 30px;
                @include mq(500px){
                font-size: 25px; 
                }
            }
            p.date {
                font-size: 14px;
                 
                font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 12px; 
                     }

            }
            .bio {
                font-size: 16px;
                    line-height: 25.6px;
                    font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 14px; 
                     }

                p {
                    margin-top: 32px;
                    line-height: 25.6px;
                }
                
            }
        }
    }
}

section.singleVideo{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    iframe{
        width: 60%;
        display: block;
        margin: auto;
        @include mq(700px){
            width: 85%;  
        }
    }
}

section.ibm{
    max-width: 1140px;
    width: 80%;
    margin: auto;

    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .cover{
        width: 100%;
        margin-bottom: 20px;
        .flex{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            @include mq(768px){
                flex-direction: column;
            }
            .paragraph{
                width: 45%;
                @include mq(768px){
                   width: 100%;
                   margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 25.6px;
                    font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 12px; 
                     }


                }
            }
        }
    }
    img{
        width: 100%;
        margin-bottom: 30px;
    }
}

section.ecx{
    max-width: 1140px;
    width: 80%;
    margin: auto;
 
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .cover{
        width: 100%;
        margin-bottom: 20px;
        .flex{
            width: 100%;
            display: flex;
            justify-content: space-between;
          
            @include mq(768px){
                flex-direction: column;
            }
            .paragraph{
                width: 45%;
                @include mq(768px){
                   width: 100%;
                   margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 25.6px;
                    font-family: $dmsans;
                    
                    @include mq(500px){
                        font-size: 12px; 
                     }


                }
            }
        }
    }
    img{
        width: 100%;
        margin-bottom: 30px;
    }
}

section.portfolio{
    max-width: 1140px;
    width: 80%;
    margin: auto;
   
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;  
    }
    p.title{
        font-weight: 600;
        font-size: 40px;
        font-family: $zilla;
        font-style: italic;
        color: black;
        margin-bottom: 30px;
        @include mq(500px){
           font-size: 25px; 
        }
    }
    .flexDiv{
        width: 100%;
        @include mq(600px){
            display: none;
        }
        .flex{
            margin-bottom: 40px;
            @include mq(768px){
                margin-bottom: 0px;
            }
        }
        img{
            transition: 0.3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }     
        .flex.one{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                img{
                    width: 100%;
                }
                width: 32%;
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
        .flex.two{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .first{
                width: 32%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .second{
                width: 64%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
        .flex.three{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .first{
                img{
                    width: 100%;
                }
                width: 32%;
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            .second{
                width: 64%;
                img{
                    width: 100%;
                }
                @include mq(768px){
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
            @include mq(768px){
                flex-direction: column;
            }
        }
    }
    .mobilePortfolio{
        display: none;
        @include mq(600px){
            display: block;
            width: 100%;
        }
        .swiper-container2{
            width: 100%;
            .swiper-wrapper{
                .swiper-slide{
                    a{
                        width: 100%;
                        img{
                            width: 100%;
                        }

                    }
                    
                }
                
            }
            
        }
    }
   
}

section.videos{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq(500px){
        width: 90%;  
    }
    iframe{
        width: 48%;
        @include mq(700px){
            width: 100%;
            margin-bottom: 30px;  
        }
    }
}

section.tributes{
    max-width: 1140px;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    @include mq(500px){
        width: 90%;
        margin-top: 30;  
    }
    a{
        text-decoration: none
    }
    button{
        @include button;
        width: 150px;
        display: block;
        margin: auto;
        background: $blue;
        color: white;
        border-radius: 5px;
        &:hover{
            color: $blue;
            background: white;
            border: 1px solid $blue;
        }
        @include mq(500px){
            width: 50%;
        }
    }
    .cover{
        width: 60%;
        margin: auto;
        @include mq(760px){
            height: auto;
            width: 100%;
        }
        
        .addTribute{
            width: 100%;
            display: flex;
            justify-content: space-between;
            p.title{
                font-weight: 600;
                font-size: 40px;
                font-family: $zilla;
                font-style: italic;
                text-decoration: none;
                color: black;
                margin-bottom: 30px;
                @include mq(500px){
                   font-size: 25px; 
                }
            }
            .add{
                display: flex;
                align-items: center;
            }
            p{
                color: black;
                font-size: 14px;
                font-family: $dmsans;
                text-decoration: underline;
                cursor: pointer;
                transform: translateY(-6px);
                @include mq(500px){
                    font-size: 12px; 
                 }
            }
        }
        .flexDiv{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: column;
            .eachTribute{
                width: 100%;
                margin: auto;
                height: auto;
                border: 1px solid #EEEEEE;
                border-radius: 10px;
                margin-bottom: 30px;
              
                .message{
                    width: 100%;
                    padding: 15px 10px;               
                    height: auto;
             
                    
                    p{
                        line-height: 25.6px;
                        font-family: $dmsans;
                        font-size: 14px;
                        @include mq(500px){
                            font-size: 12px;
                        }
                    }
                }
                .line{
                    width: 94%;
                    margin: auto;
                    height: 2px;
                    background: #EEEEEE;

                }
                .name{
                   padding: 10px 10px;
                   height: auto;
                   display: flex;
                   align-items: center;
                   img{
                       height: 50px;
                       width: 50px;
                       border-radius: 50%;
                       margin-right: 15px;
                       @include mq(500px){
                        width: 30px;
                        height: 30px;
                    }
                   }
                   .namedate{
                       .date{
                           margin-top: 5px;
                       }
                       .namer{
                           font-weight: 600;
                           font-size: 13px;
                       }
                   }

               
                
                   p{
                    font-family: $dmsans;
                    font-size: 12px;
                    @include mq(500px){
                        font-size: 10px;
                    }
                   }
                }
            }
        }
    }
    
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
       
        border-radius: 5px;
        width: 50%;
        margin-top: 20px;
        padding: 15px;
        @include mq(768px){
            width: 90%;
        }
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        form{
            width: 90%;
            margin: auto;
            .group{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                .inputDiv{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    label{
                        font-size: 14px;
                        font-family: gilroy;
                        margin-bottom: 8px;
                    }
                    input{
                        border: 1px solid #BDBDBD;
                        border-radius: 6px;
                        width: 100%;
                        padding: 8px;
                        &::placeholder{
                            color: #4F4F4F;
                        }
                        &:focus{
                            outline: none
                        }
                    }
                }
            }
            .groupTextArea{
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                label{
                    font-size: 14px;
                    font-family: gilroy;
                    margin-bottom: 8px;
                }
                
                textarea{
                    width: 100%;
                    height: 130px;
                    border: 1px solid #BDBDBD;
                    border-radius: 6px;
                    padding: 8px;
                    &::placeholder{
                        color: #4F4F4F;
                    }
                    &:focus{
                        outline: none
                    }
                }
                
                
            }
            button{
                @include button;
                width: 70%;
                display: block;
                margin: auto;
                background: $blue;
                color: white;
                border-radius: 5px;
                &:hover{
                    color: $blue;
                    background: white;
                    border: 1px solid $blue;
                }
                @include mq(500px){
                    width: 50%;
                }
            }
        }
        .display{
            width: 90%;
            margin: auto;
            p.message{
                    font-size: 16px;
                    line-height: 25.6px;
                    font-family: $dmsans;
                    width: 90%;
                    margin: auto; 
                    margin-bottom: 40px;
                    @include mq(500px){
                        font-size: 14px; 
                     }
            }
            button{
                @include button;
                width: 70%;
                display: block;
                margin: auto;
                background: $blue;
                color: white;
                border-radius: 5px;
                &:hover{
                    color: $blue;
                    background: white;
                    border: 1px solid $blue;
                }
                @include mq(500px){
                    width: 50%;
                }
            }
        }
      
    }
  
}
