html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

header {
  max-width: 1140px;
  width: 80%;
  margin-left: 18%;
  height: 90vh;
  margin-bottom: 100px;
}
@media screen and (max-width: 1045px) {
  header {
    display: none;
  }
}
header .headerFlex {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: space-between;
}
header .headerFlex .picture {
  width: 70%;
  background-image: url("../images/rex.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
header .headerFlex .nameDiv {
  padding-top: 200px;
}
header .headerFlex .nameDiv p {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  z-index: 2;
  margin-bottom: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 500px) {
  header .headerFlex .nameDiv p {
    font-size: 25px;
  }
}
header .headerFlex .nameDiv p.sec {
  position: absolute;
}
header .headerFlex .nameDiv button {
  background: transparent;
  background: #FFEFCB;
  border: none;
  color: black;
  padding: 3px;
  margin-top: 70px;
}
header .headerFlex .second {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
header .headerFlex .card {
  width: 300px;
  z-index: 1;
  height: 200px;
  transform: translate(-250px, 30px);
  background: #FFEFCB;
  padding: 20px;
}
header .headerFlex .card i.fa-quote-left {
  margin-bottom: 20px;
}
header .headerFlex .card i.fa-quote-right {
  margin-top: 16px;
  float: right;
}

.mobileHeader {
  display: none;
}
@media screen and (max-width: 1045px) {
  .mobileHeader {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    height: 90vh;
  }
  .mobileHeader .headerFlex {
    height: 100%;
    background-image: url("../images/rex.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
  }
  .mobileHeader .headerFlex .nameDiv {
    padding-top: 40px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 1045px) and (max-width: 650px) {
  .mobileHeader .headerFlex .nameDiv {
    padding-top: 0px;
    margin-left: 0px;
    position: absolute;
    top: 50px;
    left: 30px;
  }
}
@media screen and (max-width: 1045px) {
  .mobileHeader .headerFlex .nameDiv p {
    font-weight: 600;
    font-size: 40px;
    color: white;
    font-family: "Zilla Slab", serif;
    font-style: italic;
    z-index: 2;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1045px) and (max-width: 500px) {
  .mobileHeader .headerFlex .nameDiv p {
    font-size: 25px;
  }
}
@media screen and (max-width: 1045px) {
  .mobileHeader .headerFlex .nameDiv button {
    background: transparent;
    background: #FFEFCB;
    border: none;
    color: black;
    padding: 3px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1045px) {
  .mobileHeader .headerFlex .second {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (max-width: 1045px) {
  .mobileHeader .headerFlex .card {
    width: 300px;
    z-index: 1;
    height: 200px;
    transform: translate(30px, 30px);
    background: #FFEFCB;
    padding: 20px;
  }
  .mobileHeader .headerFlex .card i.fa-quote-left {
    margin-bottom: 20px;
  }
  .mobileHeader .headerFlex .card i.fa-quote-right {
    margin-top: 16px;
    float: right;
  }
}
@media screen and (max-width: 1045px) and (max-width: 650px) {
  .mobileHeader .headerFlex .card {
    width: 100%;
    transform: translate(10px, 30px);
  }
}

section.gallery {
  max-width: 1140px;
  width: 80%;
  margin: 100px auto;
}
@media screen and (max-width: 500px) {
  section.gallery {
    width: 90%;
  }
}
section.gallery p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.gallery p.title {
    font-size: 25px;
  }
}
section.gallery .swiper-container {
  width: 100%;
  height: 100%;
}
section.gallery .swiper-container.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1140px) {
  section.gallery .swiper-container.swiper-slide {
    width: 368px !important;
  }
}
@media screen and (max-width: 700px) {
  section.gallery .desk {
    display: none;
  }
}
section.gallery .mobileGallery {
  display: none;
  overflow-x: hidden;
}
@media screen and (max-width: 700px) {
  section.gallery .mobileGallery {
    display: block;
    width: 100%;
  }
}
section.gallery .mobileGallery .swiper-container3 {
  width: 100%;
}
section.gallery .mobileGallery .swiper-container3 .swiper-slide {
  width: 100%;
}
section.gallery .mobileGallery .swiper-container3 img {
  width: 100%;
}

section.biography {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  section.biography {
    width: 90%;
  }
}
section.biography .picture {
  width: 48%;
}
@media screen and (max-width: 700px) {
  section.biography .picture {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.biography .picture img {
  width: 100%;
}
section.biography .description {
  width: 45%;
  margin: auto;
}
@media screen and (max-width: 700px) {
  section.biography .description {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.biography .description .container {
  margin-top: 32px;
  width: 75%;
  margin: auto;
}
@media screen and (max-width: 700px) {
  section.biography .description .container {
    width: 100%;
  }
}
section.biography .description .container p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.biography .description .container p.title {
    font-size: 25px;
  }
}
section.biography .description .container p.date {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  section.biography .description .container p.date {
    font-size: 12px;
  }
}
section.biography .description .container .bio {
  font-size: 16px;
  line-height: 25.6px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  section.biography .description .container .bio {
    font-size: 14px;
  }
}
section.biography .description .container .bio p {
  margin-top: 32px;
  line-height: 25.6px;
}

section.singleVideo {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  section.singleVideo {
    width: 90%;
  }
}
section.singleVideo iframe {
  width: 60%;
  display: block;
  margin: auto;
}
@media screen and (max-width: 700px) {
  section.singleVideo iframe {
    width: 85%;
  }
}

section.ibm {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  section.ibm {
    width: 90%;
  }
}
section.ibm p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.ibm p.title {
    font-size: 25px;
  }
}
section.ibm .cover {
  width: 100%;
  margin-bottom: 20px;
}
section.ibm .cover .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  section.ibm .cover .flex {
    flex-direction: column;
  }
}
section.ibm .cover .flex .paragraph {
  width: 45%;
}
@media screen and (max-width: 768px) {
  section.ibm .cover .flex .paragraph {
    width: 100%;
    margin-bottom: 10px;
  }
}
section.ibm .cover .flex .paragraph p {
  font-size: 14px;
  line-height: 25.6px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  section.ibm .cover .flex .paragraph p {
    font-size: 12px;
  }
}
section.ibm img {
  width: 100%;
  margin-bottom: 30px;
}

section.ecx {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  section.ecx {
    width: 90%;
  }
}
section.ecx p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.ecx p.title {
    font-size: 25px;
  }
}
section.ecx .cover {
  width: 100%;
  margin-bottom: 20px;
}
section.ecx .cover .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  section.ecx .cover .flex {
    flex-direction: column;
  }
}
section.ecx .cover .flex .paragraph {
  width: 45%;
}
@media screen and (max-width: 768px) {
  section.ecx .cover .flex .paragraph {
    width: 100%;
    margin-bottom: 10px;
  }
}
section.ecx .cover .flex .paragraph p {
  font-size: 14px;
  line-height: 25.6px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  section.ecx .cover .flex .paragraph p {
    font-size: 12px;
  }
}
section.ecx img {
  width: 100%;
  margin-bottom: 30px;
}

section.portfolio {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  section.portfolio {
    width: 90%;
  }
}
section.portfolio p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.portfolio p.title {
    font-size: 25px;
  }
}
section.portfolio .flexDiv {
  width: 100%;
}
@media screen and (max-width: 600px) {
  section.portfolio .flexDiv {
    display: none;
  }
}
section.portfolio .flexDiv .flex {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex {
    margin-bottom: 0px;
  }
}
section.portfolio .flexDiv img {
  transition: 0.3s ease;
}
section.portfolio .flexDiv img:hover {
  transform: scale(1.1);
}
section.portfolio .flexDiv .flex.one {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.portfolio .flexDiv .flex.one a {
  width: 32%;
}
section.portfolio .flexDiv .flex.one a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.one a {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.one {
    flex-direction: column;
  }
}
section.portfolio .flexDiv .flex.two {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.portfolio .flexDiv .flex.two .first {
  width: 32%;
}
section.portfolio .flexDiv .flex.two .first img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.two .first {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.portfolio .flexDiv .flex.two .second {
  width: 64%;
}
section.portfolio .flexDiv .flex.two .second img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.two .second {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.two {
    flex-direction: column;
  }
}
section.portfolio .flexDiv .flex.three {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.portfolio .flexDiv .flex.three .first {
  width: 32%;
}
section.portfolio .flexDiv .flex.three .first img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.three .first {
    width: 100%;
    margin-bottom: 30px;
  }
}
section.portfolio .flexDiv .flex.three .second {
  width: 64%;
}
section.portfolio .flexDiv .flex.three .second img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.three .second {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  section.portfolio .flexDiv .flex.three {
    flex-direction: column;
  }
}
section.portfolio .mobilePortfolio {
  display: none;
}
@media screen and (max-width: 600px) {
  section.portfolio .mobilePortfolio {
    display: block;
    width: 100%;
  }
}
section.portfolio .mobilePortfolio .swiper-container2 {
  width: 100%;
}
section.portfolio .mobilePortfolio .swiper-container2 .swiper-wrapper .swiper-slide a {
  width: 100%;
}
section.portfolio .mobilePortfolio .swiper-container2 .swiper-wrapper .swiper-slide a img {
  width: 100%;
}

section.videos {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  section.videos {
    width: 90%;
  }
}
section.videos iframe {
  width: 48%;
}
@media screen and (max-width: 700px) {
  section.videos iframe {
    width: 100%;
    margin-bottom: 30px;
  }
}

section.tributes {
  max-width: 1140px;
  width: 80%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
}
@media screen and (max-width: 500px) {
  section.tributes {
    width: 90%;
    margin-top: 30;
  }
}
section.tributes a {
  text-decoration: none;
}
section.tributes button {
  padding: 8px 0px;
  border: transparent;
  transition: ease 0.8s;
  cursor: pointer;
  width: 150px;
  display: block;
  margin: auto;
  background: #5643C1;
  color: white;
  border-radius: 5px;
}
section.tributes button:focus {
  outline: none;
}
section.tributes button:hover {
  color: #5643C1;
  background: white;
  border: 1px solid #5643C1;
}
@media screen and (max-width: 500px) {
  section.tributes button {
    width: 50%;
  }
}
section.tributes .cover {
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 760px) {
  section.tributes .cover {
    height: auto;
    width: 100%;
  }
}
section.tributes .cover .addTribute {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.tributes .cover .addTribute p.title {
  font-weight: 600;
  font-size: 40px;
  font-family: "Zilla Slab", serif;
  font-style: italic;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  section.tributes .cover .addTribute p.title {
    font-size: 25px;
  }
}
section.tributes .cover .addTribute .add {
  display: flex;
  align-items: center;
}
section.tributes .cover .addTribute p {
  color: black;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  text-decoration: underline;
  cursor: pointer;
  transform: translateY(-6px);
}
@media screen and (max-width: 500px) {
  section.tributes .cover .addTribute p {
    font-size: 12px;
  }
}
section.tributes .cover .flexDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
section.tributes .cover .flexDiv .eachTribute {
  width: 100%;
  margin: auto;
  height: auto;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  margin-bottom: 30px;
}
section.tributes .cover .flexDiv .eachTribute .message {
  width: 100%;
  padding: 15px 10px;
  height: auto;
}
section.tributes .cover .flexDiv .eachTribute .message p {
  line-height: 25.6px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  section.tributes .cover .flexDiv .eachTribute .message p {
    font-size: 12px;
  }
}
section.tributes .cover .flexDiv .eachTribute .line {
  width: 94%;
  margin: auto;
  height: 2px;
  background: #EEEEEE;
}
section.tributes .cover .flexDiv .eachTribute .name {
  padding: 10px 10px;
  height: auto;
  display: flex;
  align-items: center;
}
section.tributes .cover .flexDiv .eachTribute .name img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
@media screen and (max-width: 500px) {
  section.tributes .cover .flexDiv .eachTribute .name img {
    width: 30px;
    height: 30px;
  }
}
section.tributes .cover .flexDiv .eachTribute .name .namedate .date {
  margin-top: 5px;
}
section.tributes .cover .flexDiv .eachTribute .name .namedate .namer {
  font-weight: 600;
  font-size: 13px;
}
section.tributes .cover .flexDiv .eachTribute .name p {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}
@media screen and (max-width: 500px) {
  section.tributes .cover .flexDiv .eachTribute .name p {
    font-size: 10px;
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  margin-top: 20px;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 90%;
  }
}
.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal .modal-content form {
  width: 90%;
  margin: auto;
}
.modal .modal-content form .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal .modal-content form .group .inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal .modal-content form .group .inputDiv label {
  font-size: 14px;
  font-family: gilroy;
  margin-bottom: 8px;
}
.modal .modal-content form .group .inputDiv input {
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  width: 100%;
  padding: 8px;
}
.modal .modal-content form .group .inputDiv input::placeholder {
  color: #4F4F4F;
}
.modal .modal-content form .group .inputDiv input:focus {
  outline: none;
}
.modal .modal-content form .groupTextArea {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.modal .modal-content form .groupTextArea label {
  font-size: 14px;
  font-family: gilroy;
  margin-bottom: 8px;
}
.modal .modal-content form .groupTextArea textarea {
  width: 100%;
  height: 130px;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  padding: 8px;
}
.modal .modal-content form .groupTextArea textarea::placeholder {
  color: #4F4F4F;
}
.modal .modal-content form .groupTextArea textarea:focus {
  outline: none;
}
.modal .modal-content form button {
  padding: 8px 0px;
  border: transparent;
  transition: ease 0.8s;
  cursor: pointer;
  width: 70%;
  display: block;
  margin: auto;
  background: #5643C1;
  color: white;
  border-radius: 5px;
}
.modal .modal-content form button:focus {
  outline: none;
}
.modal .modal-content form button:hover {
  color: #5643C1;
  background: white;
  border: 1px solid #5643C1;
}
@media screen and (max-width: 500px) {
  .modal .modal-content form button {
    width: 50%;
  }
}
.modal .modal-content .display {
  width: 90%;
  margin: auto;
}
.modal .modal-content .display p.message {
  font-size: 16px;
  line-height: 25.6px;
  font-family: "DM Sans", sans-serif;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
  .modal .modal-content .display p.message {
    font-size: 14px;
  }
}
.modal .modal-content .display button {
  padding: 8px 0px;
  border: transparent;
  transition: ease 0.8s;
  cursor: pointer;
  width: 70%;
  display: block;
  margin: auto;
  background: #5643C1;
  color: white;
  border-radius: 5px;
}
.modal .modal-content .display button:focus {
  outline: none;
}
.modal .modal-content .display button:hover {
  color: #5643C1;
  background: white;
  border: 1px solid #5643C1;
}
@media screen and (max-width: 500px) {
  .modal .modal-content .display button {
    width: 50%;
  }
}